

.contenido{

margin-top: 70px;
  padding: 30px;

}


#titulo{
  text-align: center;

  padding: 10px;
}


#botones{
  text-align: center;

  padding: 10px;
}

#boton{

width: 150px;
height:150px;
}

#botoninicio{

width: 100px;
height:50px;
padding: 30px;
}
